@charset "UTF-8";

th {
	background: lightgreen;
	text-align: center;
	width: 60px;
}

td {
	width: 150px
}

table {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid lightgray;
    width: 500px; /* Could be more or less, depending on screen size */
    padding: 16px;
}